In [2]:
!pip install tldextract

Requirement already satisfied: tldextract in c:\users\msi\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: idna in c:\users\msi\anaconda3\lib\site-packages (from tldextract) (3.4)
Requirement already satisfied: requests>=2.1.0 in c:\users\msi\anaconda3\lib\site-packages (from tldextract) (2.31.0)
Requirement already satisfied: requests-file>=1.4 in c:\users\msi\anaconda3\lib\site-packages (from tldextract) (1.5.1)
Requirement already satisfied: filelock>=3.0.8 in c:\users\msi\anaconda3\lib\site-packages (from tldextract) (3.13.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\msi\anaconda3\lib\site-packages (from requests>=2.1.0->tldextract) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\msi\anaconda3\lib\site-packages (from requests>=2.1.0->tldextract) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\msi\anaconda3\lib\site-packages (from requests>=2.1.0->tldextract) (2024.2.2)
Requirement already satisfied: six in c:\users\msi\anaconda3\lib\site-packages (from requests-file>=1.4->tldextract) (1.16.0)

In [8]:
pip install pyforest

Requirement already satisfied: pyforest in c:\users\msi\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pyforest import *

In [10]:
import pandas as pd
df=pd.read_csv("test_domains.csv",header=None)
df

                      0
0      gllcsbqrbfch.com
1      hkgjjokkwodt.com
2      jjnehudfmclq.com
3      hieffvbcjitc.com
4      fckjmggtxchv.com
...                 ...
99995  dhkjifwwfswp.com
99996  gbfnllqykcgr.com
99997  cdgjihqdtifu.com
99998  befrnkbmcphg.com
99999  beedieglifxs.com

[100000 rows x 1 columns]

In [14]:
import tldextract

In [16]:
a=tldextract.extract("beedieglifxs.com")
a

ExtractResult(subdomain='', domain='beedieglifxs', suffix='com')

In [18]:
print(df.head())
print(df.info())

                  0
0  gllcsbqrbfch.com
1  hkgjjokkwodt.com
2  jjnehudfmclq.com
3  hieffvbcjitc.com
4  fckjmggtxchv.com
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB
None

In [20]:
extracted_domains=df[0].apply(tldextract.extract)
extracted_domains

0        (, gllcsbqrbfch, com)
1        (, hkgjjokkwodt, com)
2        (, jjnehudfmclq, com)
3        (, hieffvbcjitc, com)
4        (, fckjmggtxchv, com)
                 ...
99995    (, dhkjifwwfswp, com)
99996    (, gbfnllqykcgr, com)
99997    (, cdgjihqdtifu, com)
99998    (, befrnkbmcphg, com)
99999    (, beedieglifxs, com)
Name: 0, Length: 100000, dtype: object

In [22]:
extracted_df=pd.DataFrame(extracted_domains.to_list(),columns=["Subdomain","Domain","Suffix"])
extracted_df

      Subdomain        Domain Suffix
0                gllcsbqrbfch    com
1                hkgjjokkwodt    com
2                jjnehudfmclq    com
3                hieffvbcjitc    com
4                fckjmggtxchv    com
...         ...           ...    ...
99995            dhkjifwwfswp    com
99996            gbfnllqykcgr    com
99997            cdgjihqdtifu    com
99998            befrnkbmcphg    com
99999            beedieglifxs    com

[100000 rows x 3 columns]

In [24]:
extracted_df["Domain_length"]=extracted_df["Domain"].apply(len)
extracted_df

      Subdomain        Domain Suffix  Domain_length
0                gllcsbqrbfch    com             12
1                hkgjjokkwodt    com             12
2                jjnehudfmclq    com             12
3                hieffvbcjitc    com             12
4                fckjmggtxchv    com             12
...         ...           ...    ...            ...
99995            dhkjifwwfswp    com             12
99996            gbfnllqykcgr    com             12
99997            cdgjihqdtifu    com             12
99998            befrnkbmcphg    com             12
99999            beedieglifxs    com             12

[100000 rows x 4 columns]

In [28]:
extracted_df['Vowels_count'] = extracted_df.Domain.str.lower().str.count(r'[aeiou]')
extracted_df['Consonant_count'] = extracted_df.Domain.str.lower().str.count(r'[a-z]') -extracted_df['Vowels_count']
extracted_df

,Subdomain,Domain,Suffix,Domain_length,Vowels_count,Consonant_count
0,,gllcsbqrbfch,com,12,0,12
1,,hkgjjokkwodt,com,12,2,10
2,,jjnehudfmclq,com,12,2,10
3,,hieffvbcjitc,com,12,3,9
4,,fckjmggtxchv,com,12,0,12
...,...,...,...,...,...,...
99995,,dhkjifwwfswp,com,12,1,11
99996,,gbfnllqykcgr,com,12,0,12
99997,,cdgjihqdtifu,com,12,3,9
99998,,befrnkbmcphg,com,12,1,11
99999,,beedieglifxs,com,12,5,7

In [30]:
extracted_df['Vowels'] = extracted_df.Domain.str.lower().str.extractall(r'([aeiou])')[0].groupby(level=0).apply(''.join)
extracted_df['Consonant'] = extracted_df.Domain.str.lower().str.extractall(r'([bcdfghjklmnpqrstvwxyz])')[0].groupby(level=0).apply(''.join)
extracted_df

,Subdomain,Domain,Suffix,Domain_length,Vowels_count,Consonant_count,Vowels,Consonant
0,,gllcsbqrbfch,com,12,0,12,NaN,gllcsbqrbfch
1,,hkgjjokkwodt,com,12,2,10,oo,hkgjjkkwdt
2,,jjnehudfmclq,com,12,2,10,eu,jjnhdfmclq
3,,hieffvbcjitc,com,12,3,9,iei,hffvbcjtc
4,,fckjmggtxchv,com,12,0,12,NaN,fckjmggtxchv
...,...,...,...,...,...,...,...,...
99995,,dhkjifwwfswp,com,12,1,11,i,dhkjfwwfswp
99996,,gbfnllqykcgr,com,12,0,12,NaN,gbfnllqykcgr
99997,,cdgjihqdtifu,com,12,3,9,iiu,cdgjhqdtf
99998,,befrnkbmcphg,com,12,1,11,e,bfrnkbmcphg
99999,,beedieglifxs,com,12,5,7,eeiei,bdglfxs